<div [hidden]="!pageLoaded">
    <div class="row">
        <button (click)="goBackToListing()" class="btn btn-secondary">Back to list</button>
    </div>
    <form [formGroup]="candidateForm" (ngSubmit)="Save()" class="form-horizontal" role="form">
        <div class="container">
            <input [hidden]="true" formControlName="firstName">
            <div class="form-group row">
                <div class="col-md-6 col-sm-12">
                    <label for="firstName">First Name*:</label>
                    <input type="text" formControlName="firstName" class="form-control"
                        (change)="updateNameValidation()" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="firstName">Surname*:</label>
                    <input type="text" formControlName="surname" class="form-control"
                        (change)="updateSurnameValidation()" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12">
                    <label for="dateOfBirth">Date Of Birth*:</label>
                    <input type="text" formControlName="dateOfBirth" class="form-control"
                        (change)="updateDOBValidation()" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="address1">Address 1*:</label>
                    <input type="text" formControlName="address1" class="form-control"
                        (change)="updateAddress1Validation()" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12">
                    <label for="town">Town*:</label>
                    <input type="text" formControlName="town" class="form-control" (change)="updateTownValidation()" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="postCode">Post Code*:</label>
                    <input type="text" formControlName="postCode" class="form-control"
                        (change)="updateCountryValidation()" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12">
                    <label for="country">Country*:</label>
                    <input type="text" formControlName="country" class="form-control"
                        (change)="updatePostCodeValidation()" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="phoneHome">Phone (home)*:</label>
                    <input type="text" formControlName="phoneHome" class="form-control"
                        (change)="updatePhoneHomeValidation()" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12">
                    <label for="phoneMobile">Phone (mobile)*:</label>
                    <input type="text" formControlName="phoneMobile" class="form-control"
                        (change)="updatePhoneMobileValidation()" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="phoneWork">Phone (work)*:</label>
                    <input type="text" formControlName="phoneWork" class="form-control"
                        (change)="updatePhoneWorkValidation()" />
                </div>
            </div>
            <br>
            <section *ngIf="isEditing" class="row">
                <div *ngFor="let skill of skills;" class="col-md-4 col-sm-6">
                    <label>
                        <input type="checkbox" [checked]="candidateHasSkill(skill.id)" [value]="skill.id"
                            (change)="updateCandidateSkills($event)">
                        {{skill.name}}
                    </label>
                </div>
            </section>
            <br>
        </div>
        {{candidateForm.controls['firstName'].invalid}}, {{candidateForm.invalid}}
        <div class="row">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</div>